<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Power BI Embedded sample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/index.css">
</head>

<body>
    <header class="embed-container col-lg-12 col-md-12 col-sm-12 shadow">
        <p>
            Power BI Embedded Sample
        </p>
    </header>
    <section id="report-container" class="embed-container">
    </section>

    <!-- Used to display report embed error messages -->
    <section class="error-container">
    </section>
    <footer class="embed-container col-lg-12 col-md-12 col-sm-12 mb-0 mt-4">
        <p class="text-center">
            UserName:  @ViewData["User"] is viewing data for OffenderId: @ViewData["Id"]
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/powerbi-client/dist/powerbi.min.js"></script>
    <script src="~/js/index.js"></script>
    <script>
        let models = window['powerbi-client'].models;

        $(function () {
            LoadReport("@ViewData["EmbedToken"]", "@ViewData["EmbedURL"]");
        });

        (function (original) {
            window.XMLHttpRequest = function () {
                var result = new original(arguments);
                result.addEventListener("readystatechange", function (e) {
                    console.log("hooked");
                });
                return result;
            };

            XMLHttpRequest.prototype = original.prototype;
        })(XMLHttpRequest);;
        
    </script>
</body>
</html>