<!-- Copyright (c) Microsoft Corporation.
Licensed under the MIT license. -->
@using PowerBiAuditApp.Models
@model PowerBiAuditApp.Client.Models.HomeViewModel

<main role="main">

	<div class="container">
		<!-- Example row of columns -->
			@foreach (var (groupName, reports) in Model?.Reports ?? new Dictionary<string, ReportDetail[]>())
			{
				<div class="row m-2 mb-0"><h3 class="mb-0 p-0">@groupName</h3></div>
			    <div class="row">
			    @foreach (var reportDetail in reports)
			    {
			        <div class="col-md-4">
			            <div class="card m-2">
                            <div class="card-body">
                                <h5 class="card-title">@reportDetail.Name</h5>
                                <p class="card-text">@reportDetail.Description</p>
                                <div class="d-flex flex-row-reverse"><a class="btn btn-secondary" href="report/?WorkspaceId=@reportDetail.GroupId&reportId=@reportDetail.ReportId" role="button">View Report</a></div>
                            </div>
                        </div>
                    </div>
			    }
                </div>
			}

		<hr>

	</div> <!-- /container -->

</main>


@section Scripts
{  
	<!-- Bootstrap core JavaScript
	================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
}